/*body{
    min-width: rem(320px);
    max-width: 100%;
    background-color: $body-color;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

}

img, svg {
    display: block;
    width: 100%;
    height: auto;
}

p{
    margin-bottom: 0;
}*/

/*@media (max-width: 999px){



}*/

.p-block {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.wrapper-str {

  &--bt {
    border-top: 8px solid #f95200;
    width: 350px;
    margin-top: 10%;
  }

  &--spantitle {
    display: block;
  }

  &--flcenter {
    @include flex-center;
    text-align: center;
  }

  &--fl-between {
    @include flex-between;
  }

  &--mf {
    border-top: none;
    text-align: center;
    padding-top: 0;
    padding-bottom: 25px;
  }

  &--label {
    margin-bottom: 20px;
  }

  &--form {
    @include flex-center-col;
  }

  &--input {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &--addbtn {
    display: block;
    padding: 9px 36px;
    background-color: #ff7200;
  }

  &--ex {

    border-bottom: 1px dashed #333;

    &:hover {
      background-color: #fff;
    }

  }

  &--del {
     -js-display: flex;
    display: flex;
    justify-content: center;
  }

}

.js-none {
  display: none;
}

.js-block {
  display: block !important;
}

.modal {
   background-color: hsla(0, 0%, 86%, 0.6) !important;
}

.select1  {
	width: 324px !important;
	//height: 40px;
    height: auto;
	color:#226377;
	//font:12px Arial, Tahoma, Helvetica, Verdana;
	text-align:left;
    background-image: url(../img/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: 96% center;
	line-height:35px;
	white-space: nowrap;
	padding-right: 22px; /* отступ справа с учетом стрелочки */
    padding-left: 10px;
	border: 1px solid #dcdcdc;
	zoom:1; /* для IE6 */
	//margin:3px 0 5px 0;
    cursor: pointer;
}
