<div class="wrapper-str maket-2 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Создание Подразделения</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <h4 class="subdivision-str__title">ООО Арт-Terriтория </h4>
                  </div>
              </div>
              <div class="subdivision-str__content">

              </div>
      </div>
  </div>

  <div class="footer-str">
     <div class="footer-str__applicat">

        <div class="footer-str__appltitle">Заявки на сотрудничество:</div>

        <div class="footer-str__block">
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/vlad.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Владислав</span>
                     <span>Трохименко</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Владислав</span>
                     <span>Трохименко</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/victory.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Виктория </span>
                     <span>Константинова</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Виктория</span>
                     <span>Константинова</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
        </div>

     </div>
     <div class="footer-str__applicatnew">

        <div class="footer-str__newtitle">Новые заявки:</div>

        <div class="footer-str__block footer-str__block--pl">
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                             <span>Владислав</span>
                             <span>Трохименко</span>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str_btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                             <span>Виктория</span>
                             <span>Константинова</span>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str_btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
        </div>

     </div>

  </div>

   <div class="footer-str__search">
        <div class="footer-str__searchblock">
            <img src="img/search.png" alt="" class="footer-str__searchimg">
            <a href="/" class="footer-str__searchlink">Найти сотрудников</a>
        </div>
   </div>


  <div id="myModal-2" class="modal fade">
      <div class="modal-dialog wrapper-str--bt">
          <div class="modal-content">
              <div class="modal-header wrapper-str--flcenter">
                  <h4 class="modal-title">
                      <span class="wrapper-str--spantitle">Создайте подразделение</span>
                      <span class="wrapper-str--spantitle">компании</span>
                  </h4>
              </div>
              <div class="modal-body">
                 <div class="wrapper-str--label">Введите название отдела:</div>
                 <form action="" class="wrapper-str--form">
                   <input type="text" class="wrapper-str--input">
                   <button type="submit" class="wrapper-str--addbtn subdivision-str--addbtn">Создать</button>
                 </form>
              </div>
              <div class="modal-footer wrapper-str--mf">
                  <button class="wrapper-str--ex" type="button" data-dismiss="modal">Отмена</button>
              </div>
          </div>
      </div>
  </div>


</div>
