<!-- begin Макет №7 - Структура - админ -->
  <div class="wrapper-str maket-7 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Создание / Редактирование структуры</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <h4 class="subdivision-str__title">ООО Арт-Terriтория </h4>
                  </div>
              </div>
              <div class="subdivision-str__content subdivision-str__content--admin">

                  <ul class="uservisible-str adminvisible-str">
                      <li class="uservisible-str__item uservisible-str__item--mark-right">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Руководство компании</a>
                                  <a href="/" class="uservisible-str__item--pens"></a>
                              </div>
                          </div>
                          <a href="/" class="uservisible-str__item--trash"></a>

                          <ul class="uservisible-str__sublist">
                            <li class="uservisible-str__subitem">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Совет директоров</a>
                                        <a href="/" class="uservisible-str__item--pens"></a>
                                    </div>
                                </div>
                                <a href="/" class="uservisible-str__item--trash"></a>

                                <ul class="uservisible-str__depart">
                                        <li>

                                        </li>
                                        <a class="uservisible-str__item--addmain uservisible-str__link--addmain" href="/">Добавить отдел</a>
                                </ul>

                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark-right">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Инвесторы</a>
                                        <a href="/" class="uservisible-str__item--pens"></a>
                                    </div>
                                    <div class="uservisible-str--bottomflex">
                                          <span class="uservisible-str__sublink--number">25</span>
                                          <a class="uservisible-str__sublink--man" href="/"><img src="img/man-mini.png" class="uservisible-str__sublink--imgman" alt=""></a>
                                          <a class="uservisible-str__sublink--call" href="/"><img src="img/call-mini.png" class="uservisible-str__sublink--imgcall" alt=""></a>
                                          <a class="uservisible-str__sublink--gps" href="/"><img src="img/gps-mini.png" class="uservisible-str__sublink--imggps" alt=""></a>
                                    </div>
                                </div>
                                <a href="/" class="uservisible-str__item--trash"></a>


                                <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem uservisible-str__item--mark">
                                        <div class="uservisible-str__sublink-block">
                                           <div class="uservisible-str--topflex">
                                                 <a class="uservisible-str__sublink" href="/">Главные инвесторы</a>
                                                <a href="/" class="uservisible-str__item--pens"></a>
                                            </div>
                                        </div>
                                        <a href="/" class="uservisible-str__item--trash"></a>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__sublink-block">
                                            <div class="uservisible-str--topflex">
                                                <a class="uservisible-str__sublink" href="/">Инвесторы второго уровня</a>
                                                <a href="/" class="uservisible-str__item--pens"></a>
                                            </div>
                                        </div>
                                        <a href="/" class="uservisible-str__item--trash"></a>
                                    </li>
                                    <a class="uservisible-str__item--addmain uservisible-str__link--addmain" href="/">Добавить отдел</a>
                                </ul>

                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Независимый трастовый</a>
                                        <a href="/" class="uservisible-str__item--pens"></a>
                                    </div>
                                </div>
                                <a href="/" class="uservisible-str__item--trash"></a>
                            </li>

                            <a class="uservisible-str__item--addmain uservisible-str__link--addmain" href="/">Добавить отдел</a>

                          </ul>
                      </li>
                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                    <a class="uservisible-str__link" href="/">Логистический отдел</a>
                                    <a href="/" class="uservisible-str__item--pens"></a>
                              </div>
                              <div class="uservisible-str--bottomflex">
                                    <span class="uservisible-str__sublink--number">25</span>
                                    <a class="uservisible-str__sublink--man" href="/"><img src="img/man-mini.png" class="uservisible-str__sublink--imgman" alt=""></a>
                                    <a class="uservisible-str__sublink--call" href="/"><img src="img/call-mini.png" class="uservisible-str__sublink--imgcall" alt=""></a>
                                    <a class="uservisible-str__sublink--gps" href="/"><img src="img/gps-mini.png" class="uservisible-str__sublink--imggps" alt=""></a>
                              </div>
                          </div>
                          <a href="/" class="uservisible-str__item--trash"></a>
                      </li>

                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Финансовый отдел</a>
                                  <a href="/" class="uservisible-str__item--pens"></a>
                              </div>
                          </div>
                          <a href="/" class="uservisible-str__item--trash"></a>
                      </li>

                      <li class="uservisible-str__item">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Маркетинговый отдел</a>
                                  <a href="/" class="uservisible-str__item--pens"></a>
                              </div>
                          </div>
                          <a href="/" class="uservisible-str__item--trash"></a>
                      </li>

                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                    <a class="uservisible-str__link" href="/">IT отдел</a>
                                    <a href="/" class="uservisible-str__item--pens"></a>
                              </div>
                              <div class="uservisible-str--bottomflex">
                                    <span class="uservisible-str__sublink--number">25</span>
                                    <a class="uservisible-str__sublink--man" href="/"><img src="img/man-mini.png" class="uservisible-str__sublink--imgman" alt=""></a>
                                    <a class="uservisible-str__sublink--call" href="/"><img src="img/call-mini.png" class="uservisible-str__sublink--imgcall" alt=""></a>
                                    <a class="uservisible-str__sublink--gps" href="/"><img src="img/gps-mini.png" class="uservisible-str__sublink--imggps" alt=""></a>
                              </div>
                          </div>
                          <a href="/" class="uservisible-str__item--trash"></a>
                      </li>

                      <a class="uservisible-str__item--addmain uservisible-str__link--addmain" href="/">Добавить подразделение</a>
                  </ul>

              </div>
      </div>
  </div>

  <div class="footer-str">
     <div class="footer-str__applicat">

        <div class="footer-str__appltitle">Заявки на сотрудничество:</div>

        <div class="footer-str__block">
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/vlad.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/victory.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
        </div>

     </div>
     <div class="footer-str__applicatnew">

        <div class="footer-str__newtitle">Новые заявки:</div>

        <div class="footer-str__block footer-str__block--pl">
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                            <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str__btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                            <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str__btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
        </div>

     </div>

  </div>

   <div class="footer-str__search">
        <div class="footer-str__searchblock">
            <img src="img/search.png" alt="" class="footer-str__searchimg">
            <a href="/" class="footer-str__searchlink">Найти сотрудников</a>
        </div>
   </div>

  <!-- begin Модальное окно - Удаление в корзину -->
   <div id="myModal-trash-7" class="modal fade">
      <div class="modal-dialog wrapper-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header wrapper-str--flcenter">
                  <h4 class="modal-title">
                      Действительно ли вы хотите удалить часть структуры? Вместе с ней будут удалены и все ее отделы.
                  </h4>
              </div>
              <div class="modal-body">

                 <div class="wrapper-str--del">
                    <button type="submit" class="wrapper-str--addbtn subdivision-str--user">Удалить</button>
                 </div>

              </div>
              <div class="modal-footer wrapper-str--mf">
                  <button class="wrapper-str--ex" type="button" data-dismiss="modal">Отмена</button>
              </div>
          </div>
      </div>
  </div>
  <!-- end Модальное окно - Удаление в корзину -->

<!-- begin Модальное окно - Редактирование -->
  <div id="myModal-pens-7" class="modal fade">
      <div class="modal-dialog wrapper-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header wrapper-str--flcenter">
                  <h4 class="modal-title">
                      Изменить название
                  </h4>
              </div>
              <div class="modal-body">
                 <div class="wrapper-str--label">Введите название отдела:</div>
                 <form action="" class="wrapper-str--form">
                   <input type="text" class="wrapper-str--input">
                   <button type="submit" class="wrapper-str--addbtn subdivision-str--addbtn">Сохранить</button>
                 </form>
              </div>
              <div class="modal-footer wrapper-str--mf">
                  <button class="wrapper-str--ex" type="button" data-dismiss="modal">Отмена</button>
              </div>
          </div>
      </div>
  </div>
  <!-- end Модальное окно - Редактирование -->

<!-- begin Макет№4 - Модальное окно - Открытый раздел - админ -->
  <div id="myModal-infoadmin-7" class="modal fade infouser-str">
      <div class="modal-dialog infouser-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header">
                 <button type="button" class="close infouser-str--close" data-dismiss="modal" aria-label="Close"><img src="img/close.jpg" alt=""></button>
                  <div class="wrapper-str--flcenter">
                      <h4 class="modal-title infouser-str--title">
                          Руководство компании
                      </h4>
                  </div>
              </div>
              <div class="modal-body infouser-str__block">

                  <section class="infouser-str__employs infoadmin-str--employs">
                      <h3 class="infouser-str__title">Сотрудники:</h3>
                      <ol class="infouser-str__employs-list">
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/vlad.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <div class="infoadmin-str--edit">
                                <a href="/" class="infoadmin-str--pens"></a>
                                <a href="/" class="infoadmin-str--trash"></a>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Семенов Семен Семенович</a>
                                <div class="infouser-str__vacancy">Директор по персоналу</div>
                              </div>
                              <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                            <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Константинова Алена Алексеевна</a>
                                <div class="infouser-str__vacancy">Арт-директор</div>
                              </div>
                              <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                              </div>
                            </div>
                        </li>
                      </ol>

                      <button class="infoadmin-str--adduser">Добавить сотрудника</button>



                  </section>
                  <section class="infouser-str__contacts infoadmin-str--contacts">

                      <h3 class="infouser-str__title">Контактная информация:</h3>
                      <div class="infouser-str__subtitle">Телефон:</div>
                      <div class="infoadmin-str--editcontact">
                          <p class="infouser-str__tel">+38(095)000-00-00</p>
                          <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                          </div>
                      </div>
                      <div class="infoadmin-str--editcontact">
                        <p class="infouser-str__tel">+38(063)000-00-00</p>
                        <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                        </div>
                      </div>
                      <div class="infoadmin-str--editcontact">
                        <p class="infouser-str__tel">+38(067)000-00-00</p>
                        <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                        </div>
                      </div>

                      <div class="infouser-str__email-block">
                          <div class="infouser-str__subtitle">E-mail:</div>
                          <div class="infoadmin-str--editcontact">
                            <p class="infouser-str__tel">info@my-rank.com</p>
                            <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                            </div>
                          </div>
                      </div>

                      <div class="infoadmin-str--adress">
                          <div class="infouser-str__subtitle">Адрес:</div>
                          <div class="infoadmin-str--editcontact">
                            <p class="infouser-str__tel">г. Киев, ул Шевченка, 43Б, оф. 777</p>
                            <div class="infoadmin-str--edit">
                                  <a href="/" class="infoadmin-str--pens"></a>
                                  <a href="/" class="infoadmin-str--trash"></a>
                            </div>
                          </div>
                      </div>

                      <button class="infoadmin-str--adduser">Добавить контакты</button>

                  </section>

              </div>
          </div>
      </div>
  </div>
  <!-- end Макет№4 - Модальное окно - Открытый раздел - админ -->

<!-- begin Макет№5 - Модальное окно - Добавление сотрудников в отдел -->
  <div id="myModal-employ-7" class="modal fade infouser-str">
      <div class="modal-dialog infouser-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header">
                 <button type="button" class="close infouser-str--close" data-dismiss="modal" aria-label="Close"><img src="img/close.jpg" alt=""></button>
                  <div class="wrapper-str--flcenter">
                      <h4 class="modal-title infouser-str--title">
                          Руководство компании
                      </h4>
                  </div>
              </div>
              <div class="employ-str--title">Для добавления сотрудника без структуры в отдел нажмите +</div>
              <div class="modal-body infouser-str__block employ-str">

                  <section class="employ-str--left">
                      <h3 class="infouser-str__title">Сотрудники без структуры:</h3>
                      <ul class="employ-str--list">
                        <li class="employ-str--item">
                          <div class="employ-str--block">
                              <img src="img/vlad.jpg" alt="" class="employ-str--img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--plusgr"></a>
                          </div>
                        </li>
                        <li class="employ-str--item">
                          <div class="employ-str--block">
                              <img src="img/vlad.jpg" alt="" class="employ-str--img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--plusgr"></a>
                          </div>
                        </li>
                        <li class="employ-str--item">
                          <div class="employ-str--block">
                              <img src="img/vlad.jpg" alt="" class="employ-str--img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--plusgr"></a>
                          </div>
                        </li>
                        <li class="employ-str--item">
                          <div class="employ-str--block">
                              <img src="img/vlad.jpg" alt="" class="employ-str--img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--plusgr"></a>
                          </div>
                        </li>
                        <li class="employ-str--item">
                          <div class="employ-str--block">
                              <img src="img/vlad.jpg" alt="" class="employ-str--img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--plusgr"></a>
                          </div>
                        </li>
                      </ul>
                  </section>

                  <section class="employ-str--right">
                      <h3 class="infouser-str__title">Сотрудники отдела:</h3>
                      <ol class="infouser-str__employs-list">
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/vlad.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Семенов Семен Семенович</a>
                                <div class="infouser-str__vacancy">Директор по персоналу</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                            <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Константинова Алена Алексеевна</a>
                                <div class="infouser-str__vacancy">Арт-директор</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                            </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/vlad.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Семенов Семен Семенович</a>
                                <div class="infouser-str__vacancy">Директор по персоналу</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                            <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Константинова Алена Алексеевна</a>
                                <div class="infouser-str__vacancy">Арт-директор</div>
                              </div>
                              <a href="/" class="employ-str--minus"></a>
                            </div>
                        </li>
                      </ol>
                  </section>

              </div>

              <div class="modal-footer employ-str--footer">
                  <div class="footer-str__searchblock employ-str--search">
                      <img src="img/search.png" alt="" class="footer-str__searchimg">
                      <a href="/" class="footer-str__searchlink">Найти сотрудников</a>
                  </div>
                  <button class="wrapper-str--ex employ-str--mr" type="button" data-dismiss="modal">Отмена</button>
                  <button type="submit" class="wrapper-str--addbtn subdivision-str--addbtn">Сохранить</button>
              </div>

          </div>
      </div>
  </div>
  <!-- end Макет№5 - Модальное окно - Добавление сотрудников в отдел -->

  <!-- begin Макет№3 - Модальное окно - Добавление контактов в отдел -->
  <div id="myModal-addcontact-7" class="modal fade infouser-str">
      <div class="modal-dialog infouser-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header">
                 <button type="button" class="close infouser-str--close" data-dismiss="modal" aria-label="Close"><img src="img/close.jpg" alt=""></button>
                  <div class="wrapper-str--flcenter">
                      <h4 class="modal-title infouser-str--title">
                          Руководство компании
                      </h4>
                  </div>
              </div>
              <div class="employ-str--title">Добавьте контактную информацию для данного отдела:</div>
              <div class="modal-body infouser-str__block employ-str">

                  <section class="addcontacts-str--left">
                      <h3 class="infouser-str__subtitle">Добавьте контактный телефон:</h3>
                      <ol class="addcontacts-str--listleft addcontacts-str--bb">
                        <li class="addcontacts-str--itemleft">
                          <div class="infouser-str_item-block">
                              <div class="infoadmin-str--editcontact addcontacts-str--edittel">
                                    <p class="addcontacts-str--tel">+38(095)000-00-00</p>
                                    <div class="infoadmin-str--edit">
                                            <a href="/" class="infoadmin-str--pens"></a>
                                            <a href="/" class="infoadmin-str--trash"></a>
                                    </div>
                              </div>
                          </div>
                        </li>
                        <li class="addcontacts-str--itemleft">
                          <div class="infouser-str_item-block">
                              <div class="infoadmin-str--editcontact addcontacts-str--edittel">
                                    <p class="addcontacts-str--tel">+38(095)000-00-00</p>
                                    <div class="infoadmin-str--edit">
                                            <a href="/" class="infoadmin-str--pens"></a>
                                            <a href="/" class="infoadmin-str--trash"></a>
                                    </div>
                              </div>
                          </div>
                        </li>
                        <li class="addcontacts-str--itemleft">
                            <div class="infouser-str_item-block">
                              <div class="infoadmin-str--editcontact addcontacts-str--edittel">
                                    <p class="addcontacts-str--tel">+38(095)000-00-00</p>
                                    <div class="infoadmin-str--edit">
                                            <a href="/" class="infoadmin-str--pens"></a>
                                            <a href="/" class="infoadmin-str--trash"></a>
                                    </div>
                              </div>
                            </div>
                        </li>
                      </ol>

                      <h3 class="infouser-str__subtitle">Введите номер телефона:</h3>
                      <form class="addcontacts-str--form" action="">
                        <input class="addcontacts-str--input" type="text" placeholder="+ __ __ __ __ __ __ __ __ __ __">
                        <button class="btn btn-default addcontacts-str--ok" type="submit">OK</button>
                      </form>
                      <button class="infoadmin-str--adduser">Добавить</button>

                  </section>

                  <section class="addcontacts-str--right">
                      <h3 class="infouser-str__subtitle">Добавьте контактный E-mail:</h3>
                      <ol class="addcontacts-str--listleft addcontacts-str--bb">
                        <li class="addcontacts-str--itemleft">
                          <div class="infouser-str_item-block">
                              <div class="addcontacts-str--editemail">
                                    <p class="addcontacts-str--email">info@my-rank.com</p>
                                    <div class="addcontacts-str--editright">
                                            <a href="/" class="infoadmin-str--pens"></a>
                                            <a href="/" class="infoadmin-str--trash"></a>
                                    </div>
                              </div>
                          </div>
                        </li>
                      </ol>

                      <button class="infoadmin-str--adduser">Добавить</button>

                      <h3 class="infouser-str__subtitle addcontacts-str--mt">Добавьте адрес:</h3>
                      <ol class="addcontacts-str--listleft addcontacts-str--bb">
                        <li class="addcontacts-str--itemleft">
                          <div class="infouser-str_item-block">
                              <div class="addcontacts-str--editemail">
                                    <p class="addcontacts-str--email">г. Киев, ул Шевченка, 43Б, оф 777</p>
                                    <div class="addcontacts-str--editright">
                                            <a href="/" class="infoadmin-str--pens"></a>
                                            <a href="/" class="infoadmin-str--trash"></a>
                                    </div>
                              </div>
                          </div>
                        </li>
                      </ol>
                      <button class="infoadmin-str--adduser">Добавить</button>
                  </section>

              </div>

              <div class="modal-footer addcontacts-str--footer">
                  <button class="wrapper-str--ex employ-str--mr" type="button" data-dismiss="modal">Отмена</button>
                  <button type="submit" class="wrapper-str--addbtn subdivision-str--addbtn">Сохранить</button>
              </div>

          </div>
      </div>
  </div>
  <!-- end Макет№3 - Модальное окно - Добавление контактов в отдел -->

</div>
<!-- end Макет №7 - Структура - админ -->
