<div class="wrapper-str maket-7 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Создание / Редактирование структуры</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <h4 class="subdivision-str__title">ООО Арт-Terriтория </h4>
                  </div>
              </div>
              <div class="subdivision-str__content subdivision-str__content--admin">

                  <ul class="uservisible-str">
                      <li class="uservisible-str__item uservisible-str__item--mark-right">
                          <a href="/" class="uservisible-str__link">Руководство компании</a>
                          <a href="/" class="uservisible-str__item--trash"></a>
                          <a href="/" class="uservisible-str__item--pens"></a>

                          <ul class="uservisible-str__sublist">
                            <li class="uservisible-str__subitem"><a class="uservisible-str__sublink" href="/">Совет директоров</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a></li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark-right">
                                <a class="uservisible-str__sublink" href="/">Инвесторы</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a>
                                <span class="uservisible-str__sublink--number">25</span>
                                <a class="uservisible-str__sublink--man" href="/"></a>
                                <a class="uservisible-str__sublink--call" href="/"></a>
                                <a class="uservisible-str__sublink--gps" href="/"></a>


                                <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem uservisible-str__item--mark">
                                        <a class="uservisible-str__sublink" href="/">Главные инвесторы</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <a class="uservisible-str__sublink" href="/">Инвесторы второго уровня</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a>
                                    </li>
                                    <li class="uservisible-str__item--addmain"><a class="uservisible-str__link--addmain" href="/">Добавить отдел</a></li>
                                </ul>

                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark"><a class="uservisible-str__sublink" href="/">Независимый трастовый</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a></li>
                            <li class="uservisible-str__item--addmain"><a class="uservisible-str__link--addmain" href="/">Добавить отдел</a></li>

                          </ul>
                      </li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">Логистический отдел</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a></li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">Финансовый отдел</a><a href="/" class="uservisible-str__item--trash"><a href="/" class="uservisible-str__item--pens"></a></a></li>
                      <li class="uservisible-str__item"><a href="/" class="uservisible-str__link">Маркетинговый отдел</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a></li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">IT отдел</a><a href="/" class="uservisible-str__item--trash"></a><a href="/" class="uservisible-str__item--pens"></a></li>
                      <li class="uservisible-str__item--addmain"><a class="uservisible-str__link--addmain" href="/">Добавить подразделение</a></li>
                  </ul>

              </div>
      </div>
  </div>

  <div class="footer-str">
     <div class="footer-str__applicat">

        <div class="footer-str__appltitle">Заявки на сотрудничество:</div>

        <div class="footer-str__block">
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/vlad.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Владислав</span>
                     <span>Трохименко</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Владислав</span>
                     <span>Трохименко</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/victory.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Виктория </span>
                     <span>Константинова</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                     <span>Виктория</span>
                     <span>Константинова</span>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str_btn">Принять</button>
                  <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
               </div>
            </div>
        </div>

     </div>
     <div class="footer-str__applicatnew">

        <div class="footer-str__newtitle">Новые заявки:</div>

        <div class="footer-str__block footer-str__block--pl">
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                             <span>Владислав</span>
                             <span>Трохименко</span>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str_btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                             <span>Виктория</span>
                             <span>Константинова</span>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str_btn">Принять</button>
                          <button class="footer-str__trash"><img src="img/trash-mini.png" alt=""></button>
                       </div>
                </div>
            </div>
        </div>

     </div>

  </div>

   <div class="footer-str__search">
        <div class="footer-str__searchblock">
            <img src="img/search.png" alt="" class="footer-str__searchimg">
            <a href="/" class="footer-str__searchlink">Найти сотрудников</a>
        </div>
   </div>

</div>
