<!-- begin Макет №1 -->
  <div class="wrapper-str maket-1">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
  </div>

  <div class="main-str">
      <div class="create-str">

          <div class="create-str__block">
            <img src="img/no-photo.jpg" alt="" class="create-str__imgcompany">
            <h4 class="create-str__title">ООО Арт-Terriтория </h4>
            <a href="/" class="button-str button-maket-1">Создать структуру</a>
          </div>

      </div>
  </div>

</div>
<!-- end Макет №1 -->
