<div class="wrapper-str maket-8 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Структура компании</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <h4 class="subdivision-str__title">ООО Арт-Terriтория </h4>
                  </div>
              </div>
              <div class="subdivision-str__content">

                  <ul class="uservisible-str">
                      <li class="uservisible-str__item uservisible-str__item--mark-right"><a href="/" class="uservisible-str__link">Руководство компании</a>

                          <ul class="uservisible-str__sublist">
                            <li class="uservisible-str__subitem"><a class="uservisible-str__sublink" href="/">Совет директоров</a></li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark-right">
                                <a class="uservisible-str__sublink" href="/">Инвесторы</a>
                                <span class="uservisible-str__sublink--number">25</span>
                                <a class="uservisible-str__sublink--man" href="/"></a>
                                <a class="uservisible-str__sublink--call" href="/"></a>
                                <a class="uservisible-str__sublink--gps" href="/"></a>


                                <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem uservisible-str__item--mark">
                                        <a class="uservisible-str__sublink" href="/">Главные инвесторы</a>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <a class="uservisible-str__sublink" href="/">Инвесторы второго уровня</a>
                                    </li>
                                </ul>

                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark"><a class="uservisible-str__sublink" href="/">Независимый трастовый фонд занимающийся управлением финансовыми активами</a></li>

                          </ul>
                      </li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">Логистический отдел</a></li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">Финансовый отдел</a></li>
                      <li class="uservisible-str__item"><a href="/" class="uservisible-str__link">Маркетинговый отдел</a></li>
                      <li class="uservisible-str__item uservisible-str__item--mark"><a href="/" class="uservisible-str__link">IT отдел</a></li>
                  </ul>

              </div>
      </div>
  </div>

</div>
