<div class="wrapper-str maket-8 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Структура компании</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <h4 class="subdivision-str__title">ООО Арт-Terriтория </h4>
                  </div>
              </div>
              <div class="subdivision-str__content">

                  <ul class="uservisible-str js-uservisible-str">
                      <li class="uservisible-str__item uservisible-str__item--mark-right">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Руководство компании</a>
                              </div>
                          </div>

                          <ul class="uservisible-str__sublist">
                            <li class="uservisible-str__subitem">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Совет директоров</a>
                                    </div>
                                </div>
                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark-right">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Инвесторы</a>
                                    </div>
                                    <div class="uservisible-str--bottomflex">
                                        <span class="uservisible-str__sublink--number">25</span>
                                        <a class="uservisible-str__sublink--man" href="/"></a>
                                        <a class="uservisible-str__sublink--call" href="/"></a>
                                        <a class="uservisible-str__sublink--gps" href="/"></a>
                                    </div>
                                </div>
                                <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem uservisible-str__item--mark">
                                        <div class="uservisible-str__sublink-block">
                                            <div class="uservisible-str--topflex">
                                                <a class="uservisible-str__sublink" href="/">Главные инвесторы</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__sublink-block">
                                            <div class="uservisible-str--topflex">
                                                <a class="uservisible-str__sublink" href="/">Инвесторы второго уровня</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="uservisible-str__subitem uservisible-str__item--mark">
                                <div class="uservisible-str__sublink-block">
                                    <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__sublink" href="/">Независимый трастовый фонд занимающийся управлением финансовыми активами</a>
                                    </div>
                                </div>
                            </li>
                          </ul>
                      </li>
                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                            <div class="uservisible-str--topflex">
                                <a href="/" class="uservisible-str__link">Логистический отдел</a>
                            </div>
                          </div>
                      </li>

                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Финансовый отдел</a>
                              </div>
                          </div>
                      </li>

                      <li class="uservisible-str__item">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">Маркетинговый отдел</a>
                              </div>
                          </div>
                      </li>

                      <li class="uservisible-str__item uservisible-str__item--mark">
                          <div class="uservisible-str__link-block">
                              <div class="uservisible-str--topflex">
                                  <a href="/" class="uservisible-str__link">IT отдел</a>
                              </div>
                          </div>
                      </li>
                  </ul>

              </div>
      </div>
  </div>

  <div id="myModal-infouser-8" class="modal fade infouser-str">
      <div class="modal-dialog infouser-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header">
                 <button type="button" class="close infouser-str--close" data-dismiss="modal" aria-label="Close"><img src="img/close.jpg" alt=""></button>
                  <div class="wrapper-str--flcenter">
                      <h4 class="modal-title infouser-str--title">
                          Руководство компании
                      </h4>
                  </div>
              </div>
              <div class="modal-body infouser-str__block">

                  <section class="infouser-str__employs">
                      <h3 class="infouser-str__title">Сотрудники:</h3>
                      <ol class="infouser-str__employs-list">
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/vlad.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Семенов Семен Семенович</a>
                                <div class="infouser-str__vacancy">Директор по персоналу</div>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                            <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Константинова Алена Алексеевна</a>
                                <div class="infouser-str__vacancy">Арт-директор</div>
                              </div>
                            </div>
                        </li>
                      </ol>
                  </section>
                  <section class="infouser-str__contacts">

                      <h3 class="infouser-str__title">Контактная информация:</h3>
                      <div class="infouser-str__subtitle">Телефон:</div>
                      <p class="infouser-str__tel">+38(095)000-00-00</p>
                      <p class="infouser-str__tel">+38(063)000-00-00</p>
                      <p class="infouser-str__tel">+38(067)000-00-00</p>

                      <div class="infouser-str__email-block">
                          <div class="infouser-str__subtitle">E-mail:</div>
                          <p class="infouser-str__tel">info@my-rank.com</p>
                      </div>

                      <div class="infouser-str__subtitle">Адрес:</div>
                      <p class="infouser-str__tel">г. Киев, ул Шевченка, 43Б, оф. 777</p>

                  </section>

              </div>
          </div>
      </div>
  </div>

</div>
