<!-- begin Макет №2 - Создание первого уровня структуры -->
  <div class="wrapper-str maket-2 js-none">

  <div class="header-str">
     <h3 class="header-str__title">Структура компании</h3>
     <div class="header-str__right">Создание Подразделения</div>
  </div>

  <div class="main-str">
      <div class="subdivision-str">
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <a href="/" class="subdivision-str__title">ООО Арт-Terriтория</a>

                  </div>
              </div>
              <div class="subdivision-str__content">

              </div>
      </div>
  </div>

  <div class="footer-str js-footer-user">
     <div class="footer-str__applicat">

        <div class="footer-str__appltitle">Заявки на сотрудничество:</div>

        <div class="footer-str__block">
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/vlad.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
               </div>
               <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
               </div>
               <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/victory.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
               </div>
               <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
            </div>
            <div class="footer-str__itemappl">
               <div class="footer-str__itemleft">
                  <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                  <p class="footer-str__name">
                    <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                  </p>
               </div>
               <div class="footer-str__itemright">
                  <button class="footer-str__btn">Принять</button>
                  <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
               </div>
               <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
            </div>
        </div>

     </div>
     <div class="footer-str__applicatnew">

        <div class="footer-str__newtitle">Новые заявки:</div>

        <div class="footer-str__block footer-str__block--pl">
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                            <a href="/" class="footer-str__linkname">Владислав Трохименко</a>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str__btn">Принять</button>
                          <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
                       </div>
                       <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
                </div>
            </div>
            <div class="footer-str__itemblock">
                <div class="footer-str__itemappl">
                       <div class="footer-str__itemleft">
                          <img src="img/no-photo.jpg" alt="" class="footer-str__photo">
                          <p class="footer-str__name">
                            <a href="/" class="footer-str__linkname">Виктория Константинова</a>
                          </p>
                       </div>
                       <div class="footer-str__itemright">
                          <button class="footer-str__btn">Принять</button>
                          <button class="footer-str__trash"><img class="footer-str__trash--img" src="img/trash-mini.png" alt=""></button>
                       </div>
                       <div class="footer-str__formblock">
                   <div class="footer-str__formblock--title">
                       Распределите сотрудника:
                   </div>
                   <form action="" class="footer-str__form">
                       <div class="footer-str__form--title">
                           Введите должность:
                       </div>
                       <input type="text" class="footer-str__form--input">
                       <div class="footer-str__form--titleblock">
                           <div class="footer-str__form--title">
                               Выберите подразделение:
                           </div>
                           <div class="footer-str__form--notnecessary">
                               (не обязательно)
                           </div>
                       </div>
                       <select name="menu" size="1" class="footer-str__form--select select1">
                            <option value=""></option>
                            <option value="" class="footer-str__form--mark-right">Руководство компании</option>
                            <option value="">Логистический отдел</option>
                            <option value="">Финансовый отдел</option>
                            <option value="">Отдел купли, продажи и финансовых
                                операций</option>
                            <option value="">IT отдел</option>
                        </select>
                        <div class="footer-str__form--text">
                            Для назначения сотрудника выберите соответствующий
уровень и название подразделения в Вашей структуре
                        </div>
                        <button type="submit" class="wrapper-str--addbtn footer-str__form--addbtn">Сохранить</button>
                   </form>
               </div>
                </div>
            </div>
        </div>

     </div>

  </div>

   <div class="footer-str__search">
        <div class="footer-str__searchblock">
            <img src="img/search.png" alt="" class="footer-str__searchimg">
            <a href="/" class="footer-str__searchlink">Найти сотрудников</a>
        </div>
   </div>




</div>
<!-- end Макет №2 - Создание первого уровня структуры -->
