<!-- begin Макет №8 - Структура - другие пользователи -->
  <div class="wrapper-str maket-8 js-none">

  <div class="main-str">
      <div class="subdivision-str">
              <div class="header-str">
                 <h3 class="header-str__title">Структура компании</h3>
                 <div class="header-str__right">Создание / Редактирование структуры</div>
              </div>
              <div class="subdivision-str__left">
                  <div class="subdivision-str__leftblock">
                      <img src="img/logo-company.jpg" alt="" class="subdivision-str__imgcompany">
                      <a href="/" class="subdivision-str__title">ООО Арт-Terriтория</a>

                  </div>
              </div>
              <div class="subdivision-str__content subdivision-str__content--admin">

                  <ul class="uservisible-str js-uservisible-str">
                      <li class="uservisible-str__item">
                          <div class="uservisible-str__item--topblock">
                              <div class="uservisible-str__link-block uservisible-str__link-block--brnone">
                                  <div class="uservisible-str--topflex">
                                      <a href="/" class="uservisible-str__link">Руководство компании</a>
                                  </div>
                                  <div class="js-mark uservisible-str__item--mark"></div>
                              </div>
                          </div>

                          <ul class="uservisible-str__sublist">
                            <li class="uservisible-str__subitem">
                                <div class="uservisible-str__subitem--topblock">
                                    <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                        <div class="uservisible-str--topflex">
                                            <a class="uservisible-str__sublink" href="/">Совет директоров</a>
                                        </div>
                                    </div>
                                </div>


                            </li>
                            <li class="uservisible-str__subitem">
                                <div class="uservisible-str__subitem--topblock">
                                    <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                        <div class="uservisible-str--topflex">
                                            <a class="uservisible-str__sublink" href="/">Инвесторы</a>
                                        </div>
                                        <div class="uservisible-str--bottomflex">
                                              <span class="uservisible-str__sublink--number">25</span>
                                              <a class="uservisible-str__sublink--man" href="/">

                                         <svg class="uservisible-str__sublink--imgman">
                                            <use href="img/man-mini.svg#uservisible-str__sublink--imgman"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--call" href="/">

                                        <svg class="uservisible-str__sublink--imgcall">
                                            <use href="img/call-mini.svg#uservisible-str__sublink--imgcall"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--gps" href="/">

                                        <svg class="uservisible-str__sublink--imggps">
                                            <use href="img/gps-mini.svg#uservisible-str__sublink--imggps"></use>
                                        </svg>

                                        </a>
                                        </div>
                                        <div class="js-mark uservisible-str__item--mark"></div>
                                    </div>
                                </div>


                                <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem ">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                               <div class="uservisible-str--topflex">
                                                     <a class="uservisible-str__sublink" href="/">Главные инвесторы</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                                <div class="uservisible-str--topflex">
                                                    <a class="uservisible-str__sublink" href="/">Инвесторы второго уровня</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </li>
                            <li class="uservisible-str__subitem">
                                <div class="uservisible-str__subitem--topblock">
                                    <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                        <div class="uservisible-str--topflex">
                                            <a class="uservisible-str__sublink" href="/">Независимый трастовый</a>
                                        </div>
                                    </div>
                                </div>
                            </li>



                          </ul>
                      </li>
                      <li class="uservisible-str__item">
                          <div class="uservisible-str__item--topblock">
                              <div class="uservisible-str__link-block uservisible-str__link-block--brnone">
                                  <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__link" href="/">Логистический отдел</a>
                                  </div>
                                  <div class="uservisible-str--bottomflex">
                                        <span class="uservisible-str__sublink--number">25</span>
                                        <a class="uservisible-str__sublink--man" href="/">

                                         <svg class="uservisible-str__sublink--imgman">
                                            <use href="img/man-mini.svg#uservisible-str__sublink--imgman"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--call" href="/">

                                        <svg class="uservisible-str__sublink--imgcall">
                                            <use href="img/call-mini.svg#uservisible-str__sublink--imgcall"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--gps" href="/">

                                        <svg class="uservisible-str__sublink--imggps">
                                            <use href="img/gps-mini.svg#uservisible-str__sublink--imggps"></use>
                                        </svg>

                                        </a>
                                  </div>
                                  <div class="js-mark uservisible-str__item--mark"></div>
                              </div>
                          </div>

                          <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem ">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                               <div class="uservisible-str--topflex">
                                                     <a class="uservisible-str__sublink" href="/">Отдел 1</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                                <div class="uservisible-str--topflex">
                                                    <a class="uservisible-str__sublink" href="/">Отдел 2</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                      </li>

                      <li class="uservisible-str__item">
                          <div class="uservisible-str__item--topblock">
                              <div class="uservisible-str__link-block uservisible-str__link-block--brnone">
                                  <div class="uservisible-str--topflex">
                                      <a href="/" class="uservisible-str__link">Финансовый отдел</a>
                                  </div>
                                  <div class="js-mark uservisible-str__item--mark"></div>
                              </div>
                          </div>

                          <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem ">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                               <div class="uservisible-str--topflex">
                                                     <a class="uservisible-str__sublink" href="/">Отдел 1</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                                <div class="uservisible-str--topflex">
                                                    <a class="uservisible-str__sublink" href="/">Отдел 2</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                      </li>

                      <li class="uservisible-str__item">
                          <div class="uservisible-str__item--topblock">
                              <div class="uservisible-str__link-block uservisible-str__link-block--brnone ">
                                  <div class="uservisible-str--topflex">
                                      <a href="/" class="uservisible-str__link">Маркетинговый отдел</a>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li class="uservisible-str__item">
                          <div class="uservisible-str__item--topblock">
                              <div class="uservisible-str__link-block uservisible-str__link-block--brnone">
                                  <div class="uservisible-str--topflex">
                                        <a class="uservisible-str__link" href="/">IT отдел</a>
                                  </div>
                                  <div class="uservisible-str--bottomflex">
                                        <span class="uservisible-str__sublink--number">25</span>
                                        <a class="uservisible-str__sublink--man" href="/">

                                         <svg class="uservisible-str__sublink--imgman">
                                            <use href="img/man-mini.svg#uservisible-str__sublink--imgman"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--call" href="/">

                                        <svg class="uservisible-str__sublink--imgcall">
                                            <use href="img/call-mini.svg#uservisible-str__sublink--imgcall"></use>
                                         </svg>

                                        </a>
                                        <a class="uservisible-str__sublink--gps" href="/">

                                        <svg class="uservisible-str__sublink--imggps">
                                            <use href="img/gps-mini.svg#uservisible-str__sublink--imggps"></use>
                                        </svg>

                                        </a>
                                  </div>
                                  <div class="js-mark uservisible-str__item--mark"></div>
                              </div>
                          </div>

                          <ul class="uservisible-str__sublist">
                                    <li class="uservisible-str__subitem ">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                               <div class="uservisible-str--topflex">
                                                     <a class="uservisible-str__sublink" href="/">Отдел 1</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="uservisible-str__subitem">
                                        <div class="uservisible-str__subitem--topblock">
                                            <div class="uservisible-str__sublink-block uservisible-str__link-block--brnone">
                                                <div class="uservisible-str--topflex">
                                                    <a class="uservisible-str__sublink" href="/">Отдел 2</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                      </li>

                  </ul>

              </div>
      </div>
  </div>

<!-- begin Макет №6 - Модальное окно - Открытый раздел - другие пользователи -->
  <div id="myModal-infouser-8" class="modal fade infouser-str">
      <div class="modal-dialog infouser-str--bt">
          <div class="modal-content infouser-str--btnone">
              <div class="modal-header">
                 <button type="button" class="close infouser-str--close" data-dismiss="modal" aria-label="Close"><img src="img/close.jpg" alt=""></button>
                  <div class="wrapper-str--flcenter">
                      <h4 class="modal-title infouser-str--title">
                          Руководство компании
                      </h4>
                  </div>
              </div>
              <div class="modal-body infouser-str__block">

                  <section class="infouser-str__employs">
                      <h3 class="infouser-str__title">Сотрудники:</h3>
                      <ol class="infouser-str__employs-list">
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/vlad.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Иванов Иван Иванович</a>
                                <div class="infouser-str__vacancy">Генеральный директор</div>
                              </div>
                              <div class="footer-str__circle">
                                <p>
                                  <span class="footer-str__number">12</span>
                                </p>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                          <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Семенов Семен Семенович</a>
                                <div class="infouser-str__vacancy">Директор по персоналу</div>
                              </div>
                              <div class="footer-str__circle">
                                <p>
                                  <span class="footer-str__number">120</span>
                                </p>
                              </div>
                          </div>
                        </li>
                        <li class="infouser-str__employs-item">
                            <div class="infouser-str_item-block">
                              <img src="img/no-photo.jpg" alt="" class="infouser-str__img">
                              <div class="infouser-str__fio">
                                <a href="/" class="infouser-str__link">Константинова Алена Алексеевна</a>
                                <div class="infouser-str__vacancy">Арт-директор</div>
                              </div>
                              <div class="footer-str__circle">
                                <p>
                                  <span class="footer-str__number">1200</span>
                                </p>
                              </div>
                            </div>
                        </li>
                      </ol>
                  </section>
                  <section class="infouser-str__contacts">

                      <h3 class="infouser-str__title">Контактная информация:</h3>
                      <div class="infouser-str__subtitle">Телефон:</div>
                      <p class="infouser-str__tel">+38(095)000-00-00</p>
                      <p class="infouser-str__tel">+38(063)000-00-00</p>
                      <p class="infouser-str__tel">+38(067)000-00-00</p>

                      <div class="infouser-str__email-block">
                          <div class="infouser-str__subtitle">E-mail:</div>
                          <p class="infouser-str__tel">info@my-rank.com</p>
                      </div>

                      <div class="infouser-str__subtitle">Адрес:</div>
                      <p class="infouser-str__tel">г. Киев, ул Шевченка, 43Б, оф. 777</p>

                  </section>

              </div>
          </div>
      </div>
  </div>
  <!-- end Макет №6 - Модальное окно - Открытый раздел - другие пользователи -->

</div>
<!-- end Макет №8 - Структура - другие пользователи -->
