.create-str {
  @include flex-center;
  padding-top: 105px;
  padding-bottom: 105px;
}

.create-str__block {
  @include flex-center-col;
}

.create-str__imgcompany {
  width: 177px;
  height: 177px;
  display: block;
  margin-bottom: 20px;
}

.create-str__title {

}
