.footer-str {
  padding: 25px 15px 0;
  border-bottom: 1px solid #dcdcdc;
  @include flex-between;
}

.footer-str__applicat {
  flex-basis: 65%;
  border-right: 1px solid #dcdcdc;
  padding-right: 25px;

  &--full {
    flex-basis: 100%;
    border-right: none;
  }

}

.footer-str__appltitle {
  margin-bottom: 25px;
}

.footer-str__block {
  @include flex-between;
  flex-wrap: wrap;
  position: relative;

  &--pl {
    padding-left: 25px;
  }

}

.footer-str__itemblock {
  flex-basis: 346px;
  position: relative;

  &::before {
    display: block;
    content: "\00B7";
    margin-right: 15px;
    position: absolute;
    top: 13px;
    left: -15px;
    font-size: 26px;
    color: #ff7200;
  }

}

.footer-str__itemappl-block {
  position: relative;
  flex-wrap: wrap;
  flex-basis: 346px;
}

.footer-str__itemappl {
  flex-basis: 346px;
  @include flex-between;
  border: 1px solid #fff;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  flex-wrap: wrap;

  &--border {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 5;
    background-color: #fff;
  }

}

.footer-str__itemleft {
  -js-display: flex;
   display: flex;
  position: relative;
}

.footer-str__photo {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.footer-str__name {
  margin-bottom: 0;
  line-height: 1.3;
  width: 140px;
}

.footer-str__linkname {

}

/*.footer-str__number {
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ff7200;
  padding: 3px;
  top: 28px;
  left: 28px;
  font-size: 8px;
  color: #ff7200;
  background-color: #fff;
  line-height: 1;
}*/

.footer-str__circle {

	width: 20px;
	text-align: center;
	border-radius: 100%;
	display: inline-block;
    position: absolute;
    border: 1px solid #ff7200;
    //padding: 3px;
    top: 28px;
    left: 28px;
    background-color: #fff;



  p {
    display: block;
	height: 0;
	margin: 0;
	padding: 50% 0;
  }

}

.footer-str__number {
    display: block;
	transform: translateY(-50%);
    font-size: 7px;
    color: #ff7200;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-str__itemright {
    -js-display: flex;
    display: flex;
    height: 39px;
}

.footer-str__btn {
   display: block;
   padding: 0 12px;
   background-color: #57955d;
   border-radius: none !important;
   border: 1px solid #57955d;

  &:hover {
    background-color: #fff;
    color: #57955d;
  }

  &--hover {
    background-color: #fff;
    color: #57955d;
  }

}

.footer-str__trash {
   display: block;
   padding: 0 11px 0 12px;
   border-top: 1px solid #dcdcdc;
   border-right: 1px solid #dcdcdc;
   border-bottom: 1px solid #dcdcdc;
   border-radius: none !important;
}

.footer-str__applicatnew {
  flex-basis: 35%;
}

.footer-str__newtitle {
  padding-left: 20px;
  margin-bottom: 25px;
}

.footer-str__search {
   padding-top: 25px;
   padding-bottom: 20px;
   @include flex-center;
}

.footer-str__searchblock {
   -js-display: flex;
   display: flex;
   align-items: center;
}

.footer-str__searchimg {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.footer-str__searchlink {
   border-bottom: 1px dashed #226377;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

}

.footer-str__formblock {
    display: none;
    padding-top: 20px;
    background-color: #fff;

    &--title {
        text-align: center;
        margin-bottom: 10px;
    }

}

.footer-str__form {

    padding-bottom: 15px;
    // width: 324px; Стиль для IE

    &--title {
        margin-bottom: 6px;
    }

    &--input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    &--titleblock {
        @include flex-between;
        margin-bottom: 5px;
    }

    &--notnecessary {

    }

    &--selectbox {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      height: 40px !important;
      padding: 0 10px;
      box-sizing: border-box;
      color:#226377;
      text-align:left;
      background-image: url(../img/arrow-bottom.png);
      background-repeat: no-repeat;
      background-position: 96% center;
      line-height:35px;
      white-space: nowrap;
      padding-right: 22px; /* отступ справа с учетом стрелочки */
      padding-left: 10px;
      border: 1px solid #dcdcdc;
      zoom:1; /* для IE6 */
      //margin:3px 0 5px 0;
      cursor: pointer;
    }

    &--select {
        /*width: 100%;
        height: 40px !important;
        box-sizing: border-box;*/
        //width: 324px !important;
    }

    &--text {

    }

    &--addbtn {
        margin: auto;
    }

    /*&--mark-right {
        background-image: url(../img/arrow-right.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        border-bottom: 1px solid #ededed !important;

        &:hover {
            background: #eef6ff !important;
        }

    }*/

}


.sel__placeholder {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #226377;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
  padding-bottom: 10px;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: 38px;
  left: -1px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  background-color: #FFF;
  width: calc(100% + 2px);
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  z-index: 7;
}

.sel.active .sel__box {
  display: block;
}

.sel__box__options {
  display: list-item;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #226377;
  padding: 0 10px;
  //margin: 0 10px;
  user-select: none;
  border-bottom: 1px solid #dcdcdc;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: #eef6ff;
  }

}

.sel__box__options::after {
  /*content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;*/
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #eef6ff;
  color: #226377;
}

.footer-str__form--selectbox:first-child.sel.active .sel__box {
  z-index: 5;
}

.select1  {
	width: 324px !important;
	//height: 40px;
    height: auto;
	color:#226377;
	//font:12px Arial, Tahoma, Helvetica, Verdana;
	text-align:left;
    background-image: url(../img/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: 96% center;
	line-height:35px;
	white-space: nowrap;
	padding-right: 22px; /* отступ справа с учетом стрелочки */
    padding-left: 10px;
	border: 1px solid #dcdcdc;
	zoom:1; /* для IE6 */
	//margin:3px 0 5px 0;
    cursor: pointer;
}


