.footer-str {
  padding: 25px 15px 0;
  border-bottom: 1px solid #dcdcdc;
  @include flex-between;
}

.footer-str__applicat {
  flex-basis: 65%;
  border-right: 1px solid #dcdcdc;
  padding-right: 25px;

  &--full {
    flex-basis: 100%;
    border-right: none;
  }

}

.footer-str__appltitle {
  margin-bottom: 25px;
}

.footer-str__block {
  @include flex-between;
  flex-wrap: wrap;

  &--pl {
    padding-left: 25px;
  }

}

.footer-str__itemblock {
  position: relative;
  flex-basis: 346px;

  &::before {
    display: block;
    content: "\00B7";
    margin-right: 15px;
    position: absolute;
    top: 5px;
    left: -15px;
    font-size: 26px;
    color: #ff7200;
  }

}

.footer-str__itemappl {
  flex-basis: 346px;
  @include flex-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  border: 1px solid #fff;
  padding: 10px 10px 0;

  &--border {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  }

}

.footer-str__itemleft {
  -js-display: flex;
   display: flex;
}

.footer-str__photo {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.footer-str__name {
  margin-bottom: 0;
  line-height: 1.3;
  width: 140px;
}

.footer-str__linkname {

}

.footer-str__itemright {
    -js-display: flex;
    display: flex;
    height: 39px;
}

.footer-str__btn {
   display: block;
   padding: 0 13px;
   background-color: #57955d;
   border-radius: none !important;
}

.footer-str__trash {
   display: block;
   padding: 0 11px 0 12px;
   border-top: 1px solid #dcdcdc;
   border-right: 1px solid #dcdcdc;
   border-bottom: 1px solid #dcdcdc;
   border-radius: none !important;
}

.footer-str__applicatnew {
  flex-basis: 35%;
}

.footer-str__newtitle {
  padding-left: 20px;
  margin-bottom: 25px;
}

.footer-str__search {
   padding-top: 25px;
   @include flex-center;
}

.footer-str__searchblock {
   -js-display: flex;
   display: flex;
   align-items: center;
}

.footer-str__searchimg {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.footer-str__searchlink {
   border-bottom: 1px dashed #226377;

  &:hover {
    text-decoration: none;
  }

}

.footer-str__formblock {
    display: none;
    padding-top: 20px;

    &--title {
        text-align: center;
        margin-bottom: 10px;
    }

}

.footer-str__form {

    padding-bottom: 15px;

    &--title {
        margin-bottom: 6px;
    }

    &--input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    &--titleblock {
        @include flex-between;
        margin-bottom: 5px;
    }

    &--notnecessary {

    }

    &--select {
        width: 100%;
        height: 40px !important;
        padding: 0 10px;
        box-sizing: border-box;
    }

    &--text {
        margin-top: 10px;
    }

    &--addbtn {
        margin: auto;
    }

    /*&--mark-right {
        background-image: url(../img/arrow-right.png);
        background-repeat: no-repeat;
        background-position: 96% center;
        border-bottom: 1px solid #ededed !important;

        &:hover {
            background: #eef6ff !important;
        }

    }*/

}
