/*body {
    font-family: 'PT Sans', sans-serif;
    font-size: rem(14px);
    color: $brand-color;
    line-height: rem(22px);
}*/

.header-str__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #226377;
}

.header-str__right {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #777;
}

.create-str__title, .subdivision-str__title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
}

.button-str {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.subdivision-str__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
}

.footer-str__appltitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #226377;
}

.footer-str__name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #226377;
}

.footer-str_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer-str__newtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff7200;
}

.footer-str__searchlink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #226377;
}

.wrapper-str {

  &--spantitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #333;
  }

  &--label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }

  &--addbtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }

  &--ex {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333;
  }

}

.uservisible-str__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #226377;
}

.uservisible-str__sublink {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;

  &:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }

  &--number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #256579;
  }

}
