/*body {
    font-family: 'PT Sans', sans-serif;
    font-size: rem(14px);
    color: $brand-color;
    line-height: rem(22px);
}*/

.header-str__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #226377;
}

.header-str__right {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #777;
}

.create-str__title, .subdivision-str__title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
}

.button-str {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.subdivision-str__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
}

.footer-str__appltitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #226377;
}

.footer-str__linkname {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #226377;

  &:hover {
    color: #226377;
  }

}

.footer-str__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer-str__newtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ff7200;
}

.footer-str__searchlink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #226377;
}

.wrapper-str {

  &--spantitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #333;
  }

  &--label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }

  &--addbtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }

  &--ex {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333;
  }

}

.uservisible-str__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #226377;
}

.uservisible-str__sublink {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;

  &:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
  }

  &--number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #256579;
  }

}

.uservisible-str__link--addmain {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
}

.infouser-str {

  &--title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #333;
  }

}

.infouser-str__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333;
}

.infouser-str__employs-item {

  &::before {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333;
  }

}

.infouser-str__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #226377;
}

.infouser-str__vacancy {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
}

.infouser-str__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
}

.infouser-str__tel {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #226377;
}

.employ-str {

  &--title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }

}

.addcontacts-str {

  &--tel {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #226377;
  }

  &--itemleft {

    &::before {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #333;
    }

  }

  &--email {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #226377;
  }

}

.footer-str__formblock {

    &--title {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #333;
    }

}

.footer-str__form {

    &--title {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #333;
    }

    &--notnecessary {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12px;
      color: #777;
    }

    &--text {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 12px;
      color: #777;
      margin-bottom: 15px;
    }

}

.select1 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
}

.select1 option {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #226377;

      &:hover {
        color: #226377;
      }

}


