.uservisible-str {
  list-style: none;
  padding-left: 0;
  position: relative;

  &--topflex {
    -js-display: flex;
    display: flex;
    align-items: center;
  }

  &--bottomflex {
    -js-display: flex;
    display: flex;
    align-items: center;
    margin-top: 2px;
  }

}

.uservisible-str > .uservisible-str__item::before {
    content: '';
    position: absolute;
    top: 24px;
    left: -12px;
    width: 12px;
    height: 1px;
    background: #f95200;
}

.uservisible-str__item {
  width: 252px; //width: 230px;
  position: relative;
  box-shadow: 0.5px 0.9px 3px #cfe0db;
  margin-bottom: 10px;
  border-left: 2px solid #f95200;
  border-top: 1px solid #cfe0db;
  border-right: 1px solid #cfe0db;
  border-bottom: 1px solid #cfe0db;

  &:hover {
    border-top: 1px solid #f95200;
    border-right: 1px solid #f95200;
    border-bottom: 1px solid #f95200;
  }


  &--mark {
    background-image: url(../img/arrow-bottom.png);
    background-repeat: no-repeat;
    background-position: 219px center;
  }

  &--mark-right {
    background-image: url(../img/arrow-sub.png);
    background-repeat: no-repeat;
    background-position: 227px center;
  }

  &--addmain {
    background-image: url(../img/plus.jpg);
    background-repeat: no-repeat;
    background-position: 8px center;
    position: relative;

    &::before {
    content: '';
    position: absolute;
    top: 22px;
    left: -13px;
    width: 13px;
    height: 1px;
    background: #f95200;
    }

  }

  &--trash {
    position: absolute;
    background-image: url(../img/trash-admin.jpg);
    background-repeat: no-repeat;
    background-position: 5px center;
    top: -4px;
    right: -12px;
    display: block;
    width: 25px;
    height: 23px;
    z-index: 5;
  }

  &--pens {
    background-image: url(../img/pens.png);
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 14px;
  }

}

.uservisible-str__link-block {
   -js-display: flex;
    display: flex;
  flex-direction: column;
  padding: 12px 36px 12px 10px;
}

.uservisible-str__link {
  display: block;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    text-decoration: none;
  }

}

.uservisible-str__sublist {
  position: absolute;
  list-style: none;
  padding-left: 0;
  top: 3px;
  left: 283px;

  &::before {

    content: '';
    position: absolute;
    top: 25px;
    left: -12px;
    width: 1px;
    height: calc(100% - 48px);
    background: #f00;

  }

}

.uservisible-str__subitem {
  width: 252px;
  position: relative;
  margin-bottom: 6px;
  border: 1px solid #cfe0db;
  box-shadow: 0.5px 0.9px 3px #cfe0db;

  &:hover {
    border: 1px solid #f95200;
    box-sizing: border-box;
  }

}

.uservisible-str__sublink-block {
   -js-display: flex;
    display: flex;
  flex-direction: column;
  padding: 12px 36px 12px 10px;
}

.uservisible-str__sublink {
  display: block;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    text-decoration: none;
  }

  &--number {
    display: block;
    margin-right: 2px;
  }

  &--man {
    display: block;
    margin-right: 7px;
  }

  &--call {
    display: block;
    margin-right: 7px;
  }

  &--gps {
    display: block;
  }

  &--imgman {
    display: block;
    width: 18px;
    height: 18px;
  }

  &--imgcall {
    display: block;
    width: 18px;
    height: 18px;
  }

  &--imggps {
    display: block;
    width: 18px;
    height: 18px;
  }

  &--trash {
    position: absolute;
    background-image: url(../img/trash-admin.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    top: 15px;
    left: 174px;
    display: block;
    width: 22px;
    height: 16px;
  }

}

#uservisible-str__sublink--imgman {

}

.uservisible-str__sublist > .uservisible-str__subitem:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 24px;
    left: -33px;
    width: 20px;
    height: 1px;
    background: #f95200;
}

.uservisible-str__sublist > .uservisible-str__subitem::after {
    content: '';
    position: absolute;
    top: 24px;
    left: -12px;
    width: 12px;
    height: 1px;
    background: #f95200;
}

.uservisible-str__link--addmain {
  display: inline-block;
  padding: 14px 10px 13px 38px;
  cursor: pointer;
  border: 1px solid #f95200;
  position: relative;

  &:hover {
    text-decoration: none;
  }

}

.uservisible-str__depart {
  position: absolute;
  list-style: none;
  padding-left: 0;
  top: 3px;
  left: 283px;

  a {
    width: 155px;
  }

  &::before {
  content: '';
  position: absolute;
  top: 23px;
  left: -33px;
  width: 21px;
  height: 1px;
  background: #f95200;
  }

}

