@media (max-width: 1199px) {
    /* b-header
    ===============================*/
    .b-header__title {
        padding: 80px 35px 30px 35px;
    }
    /* b-menu
    ===============================*/
    .b-menu__content > ul > li {
        margin: 0 0 0 2px;
    }
    /* b-rating
    ===============================*/
    .b-rating__content {
        margin: 0 -14px;
    }

    /* b-last-users
    ===============================*/
    .b-last-users__carousel{
        margin: 0 -11px;
    }
    .b-last-users__item{
        margin: 0 11px;
    }

    /* b-user
    ===============================*/
    .b-user__info__list__col{
        width: 50%;
    }
    .b-user__data__info__add-trusted{
        background-position: right 10px;
        margin-bottom: 10px;
    }
    .b-company-evaluation__item:nth-child(odd) {
    border-right: none;
  }
  .b-company-evaluation__img {
    width: 65px;
    height: 65px;
  }
  .b-company-evaluation__main {
    padding-left: 10px;
  }
  .b-company-evaluation__name {
    font-size: 14px;
  }
  .b-company-evaluation__post {
    font-size: 12px;
  }
  .b-company-evaluation__score {
    margin-top: 5px;
  }
  .b-company-evaluation__label {
    font-size: 11px;
    line-height: 1.2;
    margin-right: 10px;
  }
  .b-company-evaluation__numbs {
    font-size: 22px;
  }
  .b-user__portfolio__content {
    width: 550px;
  }

}


@media (max-width: 991px) {
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
    #main {
        display: block;
    }
    .b-content {
        display: block;
    }
    .b-sidebar {
        display: block;
        width: 100%;
        padding: 0;
    }
    /* b-header
    ===============================*/
    .b-header{
        padding: 46px 0 0 0;
    }
    .b-header__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px 0 4px 0;
        background: #153042;
        z-index: 50;
    }
    .b-header .b-logo {
        margin: 0;
        background: #ffffff;
        padding: 5px;
    }
    .b-header .b-logo img{
        height: 20px;
        max-width: inherit;
    }
    .b-header__title {
        padding: 80px 0 30px 0;
        font-size: 24px;
        line-height: 30px;
    }

    /* b-menu
    ===============================*/
    .b-menu {
        position: fixed;
        width: 280px;
        padding: 40px 15px 0 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: 0;
        right: -280px;
        height: 100%;
        background: rgba(0,0,0,0.8);
        z-index: 350;
        -webkit-transition: right 0.5s;
        -moz-transition: right 0.5s;
        -ms-transition: right 0.5s;
        -o-transition: right 0.5s;
        transition: right 0.5s;
    }
    .b-menu.open {
        right: 0;
    }
    .b-menu__content{
        overflow-y: scroll;
        max-height: 100%;
        padding: 20px 0 0 0;
    }
    .b-menu ul{
        display: block;
        width: auto;
    }
    .b-menu ul li {
        display: block;
        float: none;
        border: 0;
        height: auto;
        border-top: none;
        text-align: left;
        margin: 0 0 30px 0;
        padding: 0;
    }
    .b-menu ul li:first-child {
        margin: 0 0 30px 0;
    }
    .b-menu ul li a{
        display: inline-block;
        font-size: 18px;
        line-height: 20px;
        padding: 5px;
        color: #ffffff;
    }
    .b-menu__content > ul > li.active > a,
    .b-menu__content > ul > li > a:focus,
    .b-menu__content > ul > li > a:hover,
    .b-menu__content > ul > li > a:active {
        border: 1px solid #ffffff;
        text-decoration: none;
    }
    .b-menu__icon {
        position: fixed;
        width: 27px;
        height: 20px;
        top: 14px;
        right: 15px;
        z-index: 2000;
        cursor: pointer;
    }
    .b-menu__icon .b-menu__line {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        background: #ffffff;
        -webkit-transition: background-color 0.35s, -webkit-transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: background-color 0.35s, transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0);
    }
    .b-menu__icon .b-menu__line_1 {
        top: 0;
    }
    .b-menu__icon .b-menu__line_2 {
        top: 8px;
    }
    .b-menu__icon .b-menu__line_3 {
        top: 16px;
    }
    .b-menu__icon.active .b-menu__line_1 {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .b-menu__icon.active .b-menu__line_2 {
        opacity: 0;
    }
    .b-menu__icon.active .b-menu__line_3 {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    /* b-rating
    ===============================*/
    .b-rating__header__text {
        padding: 0 0 0 130px;
    }
    .b-rating__header__link {
        width: 130px;
    }
    .b-rating__content {
        margin: 0 -8px;
    }
    .b-rating__col {
        width: 25%;
        padding: 15px 8px;
    }
    /* b-info
    ===============================*/
    .b-info {
        padding: 0 0 45px 0;
    }
    .b-info__about {
        padding: 45px 15px 0 0;
    }
    .b-info__how-work {
        padding: 45px 0 0 15px;
    }
    .b-info__about__content {
        padding: 20px 0 0 0;
    }
    .b-info__how-work__content ul li {
        font-size: 16px;
        line-height: 20px;
    }
    /* b-last-users
    ===============================*/
    .b-last-users {
        position: relative;
        padding: 45px 0;
    }
    .b-last-users__text {
        padding: 0 130px;
    }
    .b-last-users__carousel {
        margin: 0 -8px;
    }
    .b-last-users__item {
        margin: 0 7px;
    }

    /* b-footer
    ===============================*/
    .b-footer__social{
        float: none;
        padding: 60px 0 0 0;
    }
    .b-footer__content{
        text-align: left;
        padding: 45px 0;
    }
    .b-footer__menu {
        display: inline-block;
        text-align: left;
        padding: 0 0 0 30px;
    }
    .b-footer__services {
        padding: 60px 0 0 30px;
    }
    /* owl-carousel
    ===============================*/
    .owl-carousel .owl-dots {
        margin: 30px 0 0 0;
    }
    .owl-carousel .owl-dots .owl-dot {
        width: 15px;
        height: 15px;
        margin: 0 5px 5px 5px;
    }
    .owl-carousel .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
        border-radius: 8px;
    }

    /* b-user
    ===============================*/
    .b-user__data__info__add-trusted{
        background-position: center 10px;
        margin-bottom: 0;
    }
    .b-user__portfolio__content {
    width: 100%;
  }
  .b-collapse__nav {
    padding: 0 5px 0 10px;
    height: 50px;
  }
  .b-collapse__name {
    padding-left: 10px;
    font-size: 14px;
  }
  .b-collapse__name:before {
    height: 8px;
    margin-top: -4px;
  }
  .b-collapse__stats__item {
    margin-right: 8px;
  }
  .b-collapse__stats .b-stats__numbs {
    font-size: 14px;
  }
  .b-collapse__stats .b-stats__icon {
    margin-left: 5px;
  }
  .b-collapse__stats .b-stats__icon_people,
  .b-collapse__stats .b-stats__icon_man {
    width: 20px;
    height: 20px;
  }
  .b-tabs__link {
    font-size: 12px;
    padding: 14px 10px;
  }
  .b-company-trusted__item {
    margin-bottom: 10px;
  }

}


@media (max-width: 767px) {
    #main {
        padding: 15px 0 30px 0;
    }
    h2 {
        font-size: 26px;
        line-height: 28px;
    }
    /* b-header
    ===============================*/
    .b-header__region {
        float: none;
    }
    .b-header__user:after {
        margin-left: -85px;
        border-width: 50px;
        background: #ffffff;
    }
    body.gray-bg .b-header__user:after {
        background: #f4f4f4;
    }
    .b-header__user__stats {
        float: right;
        padding: 7px 0 8px 0;
    }
    .b-header__user__stats__item {
        padding: 0 0 0 20px;
    }
    .b-header__user__stats__item:first-child {
        padding: 0;
    }
    .b-header__title {
        padding: 30px 0 30px 0;
        font-size: 20px;
        line-height: 24px;
    }
    .b-header__search {
        padding: 10px 0 0 0;
    }
    .b-header__search__col {
        margin: 0;
    }
    .b-header__search__advanced {
    }
    .b-header__search__advanced__col {
    }
    .b-header__search__button {
        padding: 20px 0 0 0;
    }
    .b-header__search__advanced {
        margin: 15px 0px 45px 0px;
        padding: 0 15px 30px 15px;
    }
    .b-header__search__advanced__col {
        padding: 15px 0 0 0;
        margin: 0;
    }

    .b-header__search__button span {
        text-align: center;
        padding: 15px 0 5px 0;
        font-size: 16px;
    }
    .b-header__profile span {
        text-align: left;
        font-size: 14px;
        line-height: 16px;
    }
    .b-header__profile .nav-tabs li a {
        font-size: 20px;
        line-height: 60px;
    }
    .b-header__profile__title {
        font-size: 14px;
    }
    .b-header .b-social {
        padding: 20px 0 0 0;
        display: block;
    }
    .b-header .b-social ul {
        display: inline-block;
    }
    .b-header .b-social ul li {
        margin: 0 0 0 8px;
    }
    /* b-category
    ===============================*/
    .b-category__content {
        margin: -5px auto 0 auto;
        padding: 15px;
        max-width: 400px;
    }
    .b-category__content ul li {
        margin: 20px 0 0 0;
        display: none;
    }
    .b-category__content > .row > div:first-child > ul li:nth-child(-n+6){
        display: block;
    }
    .b-category__content > .row > div:first-child > ul li.viewAll{
        display: block;
    }
    .b-category__content > .row > div:first-child > ul li.viewAll a{
        color: #337ab7;
    }
    .b-category__content.open > .row > div:first-child > ul li.viewAll{
        display: none;
    }
    .b-category__content.open ul li {
        display: block;
    }
    .b-category__content ul li a {
        font-size: 18px;
        line-height: 20px;
    }
    /* b-rating
    ===============================*/
    .b-rating {
        padding: 45px 0 15px 0;
    }
    .b-rating__header__text{
        display: block;
        padding: 10px 0 15px 0;
        text-align: left;
    }
    .b-rating__header__link{
        display: block;
        width: auto;
        text-align: left;
    }
    .b-rating__col {
        width:50%;
    }

    /* b-info
    ===============================*/
    .b-info:before{
        display: none;
    }
    .b-info__about {
        margin: 0 -15px;
        padding: 45px 15px 40px 15px;
        background: url("../images/b-info__about/1.jpg") top right no-repeat;
        background-size: cover;
    }
    .b-info__how-work {
        padding: 45px 0 0 0;
    }
    /* b-articles
    ===============================*/
    .b-articles {
        padding: 45px 0;
    }
    .b-articles__item {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 0 30px 0;
    }
    /* b-reg-now
    ===============================*/
    .b-reg-now {
        padding: 30px 0 20px 0;
    }
    /* b-last-users
    ===============================*/
    .b-last-users__carousel {
        margin: 0;
    }
    .b-last-users__item {
        margin: 0 auto  ;
    }
    .b-last-users__text {
        padding: 15px 0 10px 0;
        text-align: left;
    }

    /* owl-carousel
    ===============================*/
    .owl-carousel .owl-dots .owl-dot {
        width: 20px;
        height: 20px;
        margin: 0 7px 7px 7px;
    }
    .owl-carousel .owl-dots .owl-dot span {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    /* b-footer
    ===============================*/
    .b-footer__contact,
    .b-footer__menu,
    .b-footer__services,
    .b-footer__social {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 0 45px 0;
    }
    .b-footer__content{
        text-align: left;
        padding: 45px 0 0 0;
    }
    /* b-user
    ===============================*/
    .b-user__data__header {
        display: block;
        width: auto;
    }
    .b-user__data__name {
        padding: 12px 15px 15px 0;
        display: block;
    }
    .b-user__data__info__rating {
        margin: 0;
        padding: 15px 0 15px 0;
        display: block;
        text-align: left;
    }
    .b-user__data__info__add-trusted {
        background-position: left 10px;
    }
    /* b-marks
    ===============================*/
    .b-marks__item__content__text {
        font-size: 14px;
    }
    /* b-article
    ===============================*/
    .b-article__header__info__social {
        float: none;
    }
    .b-article__header__info .b-articles__item__tags {
        float: none;
        padding: 0 0 10px 0;
    }
    .modal-dialog {
        width: auto;
    }
     .b-block {
    padding-left: 10px;
    padding-right: 10px;
  }
  .b-header__user__stats__item .b-tooltip {
    right: -5px;
    left: auto;
    width: 290px;
  }
  .b-header__user__stats__item_trusted .b-tooltip {
    right: -90px;
  }
  .b-header__user__stats__item_trusted .b-tooltip .b-tooltip__item:first-child::after {
    right: 100px;
  }
  .b-header__user__stats__item_evaluation .b-tooltip {
    right: -45px;
  }
  .b-header__user__stats__item_evaluation .b-tooltip .b-tooltip__item:first-child::after {
    right: 55px;
  }
  .b-tooltip__item:first-child:after {
    right: 12px;
    left: auto;
  }
  .b-header__user__stats .b-header__user__stats__item {
    padding: 0;
  }
  .b-header__user__stats__item {
    margin-right: 10px;
  }
  .b-collapse__name {
    font-size: 13px;
  }
  .b-card__logo {
    width: 100px;
    margin-bottom: 8px;
  }
  .b-card__name {
    font-size: 13px;
  }
  .b-card__post {
    font-size: 13px;
  }
  .b-stats__item {
    margin-right: 5px;
  }
  .b-stats__item .b-stats__icon_people,
  .b-stats__item .b-stats__icon_man {
    width: 15px;
    height: 15px;
  }
  .b-stats__item .b-stats__numbs {
    font-size: 13px;
  }
  .b-list-rating__logo {
    width: 55px;
  }
  .b-list-rating__label {
    font-size: 10px;
  }
  .b-list-rating__score {
    padding-left: 4px;
    padding-right: 4px;
    width: 60px;
  }
  .b-list-rating__numbs {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
    /* b-user
    ===============================*/
    .b-user__data__left {
        float: none;
        margin: auto;
    }
    .b-user__data__right {
        text-align: center;
    }
    .b-user__data__content__item__adress {
        padding: 5px 30px 0 25px;
        display: inline-block;
    }
    .b-user__data__content__item__work {
        display: inline-block;
    }
    .b-user__data__info {
        display: inline-block;
    }
    .b-user__data__info__rating {
        text-align: center;
    }
    .b-user__data__info__add-trusted {
        background-position: center 10px;
    }
    .b-user__data .b-tags span{
        display: inline-block;
        float: none;
    }
    .b-user__info__list__col {
        width: 100%;
    }
    .b-user__stats {
        display: block;
    }
    .b-user__stats__item {
        display: block;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
    }
    .b-user__portfolio {
        padding: 10px 0 20px 0;
    }
    .b-user__portfolio__content {
        margin: 0 0 0 -10px;
    }
    /* b-marks
    ===============================*/
    .b-marks__item.open .b-marks__item__content {
        display: block;
    }
    .b-marks__item__content__row {
        display: block;
    }
    .b-marks__item__content__text {
        display: block;
        padding: 0;
        font-size: 14px;
        width: 100%;
    }
    .b-marks__item__content__slider {
        display: block;
        width: auto;
        padding: 0;
        margin: 0 0 0 -10px;
        float: left;
        width: 90%;
    }
    .b-marks__item__content__like {
      float: right;
      padding-top: 0;
    }
    /* b-comments
    ===============================*/
    .b-comments__item {
        display: block;
    }
    .b-comments__item__left {
        display: block;
    }
    .b-comments__item__content {
        clear: both;
        overflow: visible;
        padding: 10px 0 0 0;
    }
    /* b-filter
    ===============================*/
    .b-filter__options{
        float: left;
    }
    /* b-modal
    ===============================*/
    .b-modal__content__user__header__content {
        display: table;
        width: 100%;
    }
    .b-modal__content__user__header__image {
        float: none;
    }
    .b-modal__content__user__header__info {
        padding: 25px 0 0 0;
        float: none;
    }
    .b-modal__content__portfolio__item__image {
        float: none;
        margin: 0 20px 30px 0;
    }

    .b-breadcrumbs__container {
    margin-left: -10px;
    margin-right: -10px;
  }
  .b-breadcrumbs__item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .b-user__portfolio .b-user__portfolio__content {
    margin: 0;
  }
  .b-user__data__aside,
  .b-user__data__container {
    float: none;
  }
  .b-user__data__container .b-user__data__name {
    padding-right: 0;
    padding-bottom: 5px;
  }
  .b-user__data__image {
    margin-left: auto;
    margin-right: auto;
  }
  .b-user__data__score__label {
    font-size: 12px;
    line-height: 1.2;
    margin-right: 10px;
  }
  .b-user__data__score__numbs {
    font-size: 26px;
  }
  .b-list-rating__post {
    font-size: 12px;
  }
  .b-list-rating__main {
    padding-left: 5px;
  }
  .b-list-rating__name {
    font-size: 13px;
  }
  .b-marks__item__header__text{
    white-space: normal;
  }
  .b-marks__item__header__text span{
    display: inline;
  }
  .b-marks__item__header__line{
    display: none;    
  }
  .b-marks__item__header__number{
    width: 44px;
  }
}

@media (max-width: 480px) {
    h2 {
        font-size: 24px;
        line-height: 26px;
    }
    /* b-header
    ===============================*/
    .b-header__profile .nav-tabs li a {
        font-size: 16px;
        line-height: 50px;
    }
    .b-header__user__login > span {
        float: none;
    }
    .b-header__user__login > a {
        display: inline-block;
        float: none;
        margin: 8px 0 0 0;
    }
    .b-header__region {
        padding: 10px 0;
    }
    .b-header__region__country__select {
        min-width: 135px;
    }
    .b-header__title {
        padding: 20px 0;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }
    /* b-reg-now
    ===============================*/
    .b-reg-now__text {
        font-size: 16px;
        line-height: 22px;
    }
    /* b-modal
    ===============================*/
    .b-modal__header {
        font-size: 16px;
    }
    .b-modal__content .row i {
        font-size: 11px;
    }
}


@media (max-width: 380px) {
    h2 {
        font-size: 18px;
        line-height: 24px;
    }
    /* b-header
    ===============================*/
    .b-header__profile .nav-tabs li a {
        font-size: 12px;
        line-height: 40px;
        text-transform: uppercase;
    }
    .b-header__title {
        font-size: 14px;
        line-height: 20px;
    }
    /* b-category
    ===============================*/
    .b-category {
        padding: 45px 0 0 0;
    }
    .b-category__content ul li a {
        font-size: 16px;
        line-height: 18px;
    }
    /* b-reg-now
    ===============================*/
    .b-reg-now__text {
        font-size: 14px;
        line-height: 20px;
    }


    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0ddc1UAw.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Vdc1UAw.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0adc1UAw.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Wdc1UAw.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhmIqOjjg.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhvIqOjjg.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhnIqOjjg.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhoIqOjjg.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhkIqOjjg.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhlIqOjjg.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 600;
        src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhmIqOjjg.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhvIqOjjg.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhnIqOjjg.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhoIqOjjg.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhkIqOjjg.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhlIqOjjg.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUehpOqc.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXehpOqc.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

}
